body {
    background-color: purple;
}

.back-btn {
    cursor: pointer;
    background-color: #1889dc;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.stage-wrapper {
    margin: 5px 5px 15px;
}

h2,
.error-message {
    display: block;
    margin: 1em 0 1em 25px;
    letter-spacing: 1px;
    line-height: 1.4em;
    font-size: 1.6em;
    font-weight: 700;
    background-color: #1889dc;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.reservation-summary-wrapper {
    background-color: #1889dc;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.reservation-summary-wrapper .reservation-label {
    font-weight: 700;
}

.reservation-summary-wrapper .reservation-content {
    font-size: 1.2em;
}

