body {
    font-size: 14px;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.65em;
    margin: 10px;
    background: url("../images/firestartah.jpg");
    background-size: 55%;
    background-color: #f2f2f2;
}

#index-main-container .index-intro-text {
    display: block;
    margin: 1em 0 1em 25px;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 700;
    color: #ff0000;
    text-decoration: underline;
}

#index-main-container {
    margin-top: 75px;
}

#create-reservation-link,
#user-reservation-id-input,
#get-reservation-link,
#index-main-container .get-reservations-wrapper a {
    cursor: pointer;
}

#get-reservation-link,
#create-reservation-link {
    border-radius: 20px;
    padding: 10px;
    background-color: #ff0000;
}

#user-reservation-id-input {
    background-color: #000000;
    color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    width: 160px;
}

#index-main-container .create-reservation-wrapper,
#index-main-container .get-reservation-wrapper,
#index-main-container .get-reservations-wrapper {
    font-weight: 700;
    background-color: #ffa500;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 20px;
    width: 300px;
}

#index-main-container .get-reservation-wrapper {
    height: 120px;
}

#index-main-container .get-reservation-wrapper #error-message,
#index-main-container .get-reservations-wrapper #error-message-two {
    margin: 10px;
    font-weight: 300;
    color: #f7ff00;
}

#index-main-container .get-reservation-wrapper #error-message {
    display: none;
}

#index-main-container .get-reservations-wrapper #error-message-two {
    display: block;
}

#index-main-container .get-reservations-wrapper {
    position: absolute;
    top: 120px;
    left: 350px;
    height: 200px;
}

#index-main-container .create-reservation-wrapper p {
    display: inline-block

}

#index-main-container .get-reservations-wrapper p {
    margin-left: 10px;
}